<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LicensePlateInputControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EECB0751D0FDF6800AA907E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EECB08E1D0FDF6800AA907E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EECB0991D0FDF6800AA907E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
